<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Minicurso de Deploy</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              clifford: "#da373d",
            },
          },
        },
      };
    </script>

    <style type="text/tailwindcss">
      @layer utilities {
        .content-auto {
          content-visibility: auto;
        }
      }

      .star {
        cursor: pointer;
      }
    </style>
  </head>

  <body>
    <div class="bg-white py-24 sm:py-32">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:mx-0">
          <h2
            class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
          >
            Series
          </h2>
          <p class="mt-2 text-lg leading-8 text-gray-600">
            Abaixo avalie as series que você já assistiu
          </p>
        </div>
        <div
          class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3"
          id="containerSerie"
        >
          <!-- DYNAMIC_RENDER -->
        </div>

        <div>
     
            HOSTNAME: <b>{{hostname}} </b> <br />
            IP_ADDRESS: <b>{{ipaddress}}</b>
    
        </div>
      </div>
    </div>
  </body>

  <script>
    async function getSeries() {
      const response = await fetch("/api/series");
      const series = await response.json();
      return series.data;
    }

    async function renderSeries() {
      const series = await getSeries();

      const seriesHtml = series
        .map((serie) => {
          return makeCardSerie(
            serie.id,
            serie.title,
            serie.image_url,
            serie.reviews_avg,
            serie.reviews_count
          );
        })
        .join("");

      document.getElementById("containerSerie").innerHTML = seriesHtml;
    }

    function starsClickListener(e) {
      const svgElement = e.target.closest("svg");
      let starCount = svgElement.dataset.value;

      const serieCard = svgElement.closest(".cardSerie");
      const serieId = serieCard.id.split("-")[1];

      const starContainer = serieCard.querySelector(".starContainer");
      starContainer.dataset.rating = starCount;

      const serie = {
        serie_id: serieId,
        rating: starCount,
      };

      const stars = serieCard.querySelectorAll(`.star`);
      stars.forEach((star) => {
        if (star.dataset.value <= Number(starCount)) {
          star.classList.add("text-yellow-500");
        } else {
          star.classList.remove("text-yellow-500");
        }
      });

      const containerReviewButton = serieCard.querySelector(
        ".containerReviewButton"
      );
      containerReviewButton.classList.remove("hidden");
    }

    async function handleClickButtonReview(e) {
      const serieCard = e.target.closest(".cardSerie");
      const serieId = serieCard.id.split("-")[1];

      const starContainer = serieCard.querySelector(".starContainer");

      const serie = {
        serie_id: serieId,
        rating: starContainer.dataset.rating,
      };

      starContainer.innerHTML =
        '<h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-4xl">Obrigado por avaliar!</h1>';

      await reviewSerie(serie.serie_id, serie.rating);

      await new Promise((resolve) => setTimeout(resolve, 1000));

      await init();
    }

    function reviewSerie(serieId, rating) {
      return fetch(`/api/series/${serieId}/review`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          serie_id: serieId,
          rating: rating,
        }),
      });
    }

    function makeCardSerie(
      id,
      name,
      imageUrl = "",
      rating = 4.5,
      totalRating = 20
    ) {
      return `
        <div
            id="cardSerie-${id}"
            class="cardSerie max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
          >
            <a href="#">
              <img class="rounded-t-lg" src="${imageUrl}" alt="" />
            </a>
            <div class="p-5">
              <a href="#">
                <h5
                  class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
                >
                    ${name}
                </h5>
              </a>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                Total de avaliações: ${totalRating}
                <br />
                Nota: ${Number(rating).toFixed(2).replace(".", ",")}
              </p>
            </div>

            <div class="p-5 pt-0">
              <div class="flex items-center space-x-3 starContainer">
                <svg
                  class="star w-8 h-8 text-gray-300 dark:text-gray-500"
                  data-value="1"
                  id="star-1"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 22 20"
                >
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                  />
                </svg>
                <svg
                  class="star w-8 h-8 text-gray-300 dark:text-gray-500"
                  data-value="2"
                  id="star-2"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 22 20"
                >
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                  />
                </svg>
                <svg
                  class="star w-8 h-8 text-gray-300 dark:text-gray-500"
                  data-value="3"
                  id="star-3"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 22 20"
                >
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                  />
                </svg>
                <svg
                  class="star w-8 h-8 text-gray-300 dark:text-gray-500"
                  data-value="4"
                  id="star-4"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 22 20"
                >
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                  />
                </svg>
                <svg
                  class="star w-8 h-8 text-gray-300 dark:text-gray-500"
                  data-value="5"
                  id="star-5"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 22 20"
                >
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                  />
                </svg>

                <div class="text-gray-700 dark:text-gray-400 hidden containerReviewButton">
                  <button
                    class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-clifford border border-transparent rounded-lg active:bg-clifford hover:bg-red-700 focus:outline-none focus:shadow-outline-red"
                  >
                    Avaliar
                  </button>
              </div>
              </div>

              
            </div>
          </div>
        `;
    }
  </script>

  <script>
    async function init() {
      await renderSeries();

      const stars = document.querySelectorAll(".star path");
      stars.forEach((star) =>
        star.addEventListener("click", starsClickListener)
      );

      const reviewButtons = document.querySelectorAll(".containerReviewButton");
      reviewButtons.forEach((button) =>
        button.addEventListener("click", handleClickButtonReview)
      );
    }

    init();
  </script>
</html>
